#learn-more {
  position: relative;
  box-sizing: border-box;
  color: $color-gradient-first;

  .bg-svg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    width: 50%;
  }
}

.content {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100%;
  text-align: left;

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    box-sizing: border-box;

    h1 {
      font-size: 3em;
      line-height: 1.5em;
      padding-bottom: 1em;

      @media(max-width: 870px) {
        font-size: 2em;
      }
    }

    ul {
      padding-left: 40px;
    }

    li {
      list-style: disc;
      font-size: 1.2em;
      line-height: 1.5em;
    }
  }

  @media(max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: 50%;
    text-align: center;
  }

  .image {
    background: {
      image: url('/website1/websiteExample/assets/images/svg/bg-learn.svg');
      repeat: no-repeat;
      size: 800px;
      position: right center;
  }

  @media(max-width: 1500px) {
    background-size: 600px;
    background-position: center;
    }

    @media(max-width: 870px) {
      background-size: 400px;
      background-position: center center;
     }
  }
}


